<!-- templates/base.html -->
{% load static %}
<html>
<head>
    <title> Super Smash Brothers </title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <div class="nav-left">
        <h1><a href="{% url 'home' %}">Home</a></h1>
    </div>
    <div class="nav-right">
        <h1><a href="{% url 'subscribe' %}">Subscribe</a></h1>
    </div>
    <!-- <h1><a href="{% url 'home' %}">Super Smash Brothers Website</a></h1> -->
</header>

<div>
    {% block content %}

    {% endblock  %}
</div>
</body>
</html>