<!-- templates/base.html -->
{% load bootstrap4 %}
{% load staticfiles %}
<html>
<head>
    {% block title %}
    <title>
        Super Smash News
    </title>
    {% endblock %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


<!-- Custom fonts for this template -->
<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<!--<link href="static css/basecopy.css" rel="stylesheet"> -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
<!--<link rel="stylesheet" href="{% static 'css/basecopy.css' %}" /> -->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
              <a class="navbar-brand" href="{% url 'home' %}">Super Smash Bros</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'newhome' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'subscribe' %}">Subscribe</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Characters</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
<header>
    <!-- <h1><a href="{% url 'home' %}">Super Smash Brothers Website</a></h1> -->
</header>
<header class="masthead" style="background-image: url('static/images/supsmashbros.jpg')">
        <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="color:black">Super Smash Brothers</h1>
              <span class="subheading" style="color:black" font-weight="bold">Fight!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

 <!-- Bootstrap core JavaScript -->

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>



 <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>
 <div class="container">
    {% block content %}
    {% endblock content %}
</div>

</body>
</html>