<!-- templates/character_detail.html -->

{% extends 'basecopy.html' %}

{% block content %}
   <div class="post-entry">
       <h2>{{ object.name }}</h2>
       <p>{{object.description}}</p>
   </div>
{% endblock content %}