<!-- templates/home.html -->

{% extends 'basecopy.html' %}

{% block content %}
<!--<header class="masthead" style="background-image: url('static/images/supsmashbros.jpg')">
        <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="color:black">Super Smash Brothers</h1>
              <span class="subheading" style="color:black" font-weight="bold">Fight!</span>
            </div>
          </div>
        </div>
      </div>
    </header> -->

    <!-- news section -->

   {% for character in object_list %}
     <div class="post-entry">
         <h2><a href="{% url 'character_detail' character.pk %}">{{ character.name }}</a></h2>
     </div>
   {% endfor %}
{% endblock  %}
