<!-- templates/character_detail.html -->

{% extends 'basecopy.html' %}

{% block content %}
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="{% url 'news' %}">
              <h2 class="post-title">
               Title : The weekend of release (12/7/18 - 12/9/18)
              </h2>
              <h3 class="post-subtitle">
                Super Smash Bros. Ultimate has finally released after being teased back in march of this year. For many fans they hoped this was going to be the game to boost the series to new heights. This is a first impressions of the game, I have been able to unlock all the characters and I have participated in a tournament already. So does this game live up to the hype?

              </h3>
            </a>
            <p class="post-meta">Posted by Michael Figueroa
              <a href="#">Start Bootstrap</a>
              on December 9, 2018</p>
          </div>
          <hr>
             <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}