
{% extends 'basecopy.html' %}

{% block content %}
<h1>Title : The weekend of release (12/7/18 - 12/9/18)
</h1>
<h2>Written By: Michael Figueroa</h2>
<p>

Super Smash Bros. Ultimate has finally released after being teased back in march of this year.
For many fans they hoped this was going to be the game to boost the series to new heights.
This is a first impressions of the game, I have been able to unlock all the characters and I have participated in a
tournament already. So does this game live up to the hype?
<br/>
If you are looking for a game that sequels what Super Smash Bros. for the Wii U brought to the table,
then you will love this game. This game brings back many of the mechanics from the Wii U version and introduces new
mechanics that can be implemented in tournament and standard play. Examples being the quick short up attack when you
input a jump and attack command at the same time.
<br/>
Unlocking characters in this game has the community split at the moment.
There are a total of 74 playable fighters and each person only starts with the 8 original.
A lot of people have enjoyed starting with a low amount of fighters and feel a sense of progression when unlocking
characters while playing. Others, just want the characters unlocked out of the gate so they can start playing
competitive. You can unlock characters by playing versus, going through classic mode, or playing through the estimate
40 hours of story in the World of Light mode.
<br/>
 It is unsure whether competitive fans of Super Smash Bros Melee will be able to convert from melee to ultimate.
 At the tournament the members of both melee and smash 4 came together and played in the first tournament for ultimate
in the 806 region. Many players seem to enjoy the game and what it brings mechanically to the table. Others say this
game is fun but not something they will be competitive at. According to the smash community on twitter and reddit the
same things are being said all around the world.
<br/>
    <i>The future: </i>
In the future we will have Piranha Plant release on January 31, 2019. Piranha Plant was a surprised edition to the
roster. All his moves and assets are completely original and we’ll see what he brings to the fight. Piranha Plant is
available for free to anyone who pre-ordered the game, he will be available to purchase for others on the day of
release.

At The Game Awards 2018, Nintendo released a video for the first new DLC character coming to Smash Ultimate.
It was the main protagonist from Persona 5, Joker. Joker is the leader of the phantom thieves and a powerful persona
user. This is a shock to many fans of both series because Persona 5 is a Playstation exclusive game. Many people are
speculating that Persona 5 port to the nintendo switch, we’ll see in the future.


</p>
{% endblock  %}
